/* App.js */
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.header {
  width: 100%;
  height: 64px;
  border: 1px solid red;
}

.main {
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
  border: 1px solid red;
}

.main > div {
  height: 100%;
  border: 1px solid blue;
}

.side-bar {
  flex: 1 1 20%;
}

.content-wrap {
  flex: 10 10 80%;
  padding: 5px;
}
/* End */


/* SettingsContainer.js */
.settings-container {
  width: 100%;
  height: 100%;
}

.settings-content {
  width: 100%;
  border: 1px solid red;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ImportContainer.js */
.import-container {
  width: 100%;
  height: 100%;
}

.import-table-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}